doctype html
html
   head
      title 钉钉demo
      script(type="text/javascript") var _config = !{config};
      script(type='text/javascript', src='http://g.alicdn.com/ilw/ding/0.8.2/scripts/dingtalk.js')
      script(type='text/javascript', src='/javascripts/fastclick.js')
      script(type='text/javascript', src='/javascripts/index.js')
     
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(meta name="apple-mobile-web-app-status-bar-style" content="black")
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
      meta(name="format-detection" content="telephone=no")
      
   
   body
    
     

  